name: Deploy (Manual)

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID to retrieve PR information'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check if the Artifact exists
      - name: Check if PR Info Artifact exists
        id: check-artifact
        run: |
          # Check if the artifact exists by calling GitHub API
          artifact_id=$(curl -s -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/actions/artifacts" | \
            jq -r ".artifacts[] | select(.name == \"pr-info-${{ github.event.inputs.run_id }}\") | .id")

          # Save the artifact ID if exists
          if [ -n "$artifact_id" ]; then
            echo "Artifact found."
            echo "artifact_id=$artifact_id" >> $GITHUB_ENV
          else
            echo "Artifact not found."
            exit 1
          fi

      # Step 2: Download the Artifact if it exists
      - name: Download PR Info Artifact
        if: env.artifact_id != ''
        run: |
          echo "Downloading artifact..."
          curl -L -o pr-info-${{ github.event.inputs.run_id }}.zip -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/actions/artifacts/${{ env.artifact_id }}/zip"

      # Step 3: Unzip the downloaded artifact
      - name: Extract Artifact
        if: env.artifact_id != ''
        run: |
          echo "Extracting artifact..."
          unzip pr-info-${{ github.event.inputs.run_id }}.zip -d ./artifact


      - name: π” PR νƒ€μ΄ν‹€, λ°”λ””, μ»¤λ°‹λ©”μ‹μ§€ ν™•μΈ
        id: pr_info_check
        run: |
          PR_TITLE=$(jq -r '.title' pr_info.json | sed 's/%/%25/g; s/\n/%0A/g; s/\r/%0D/g')
          echo "PR_TITLE=$PR_TITLE" >> $GITHUB_ENV
          
          echo "PR_BODY<<EOF" >> $GITHUB_ENV
          jq -r '.body' pr_info.json >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV    


      - name: β™οΈ PR κΈ°λ° λ¦΄λ¦¬μ¦ λ…ΈνΈ μƒμ„±
        uses: softprops/action-gh-release@v2
        with:
          tag_name: release-${{ github.event.inputs.run_id }}
          name: Release - ${{ github.event.inputs.run_id }}
          body: |
            # π”¥ λ¦΄λ¦¬μ¦ λ…ΈνΈ
            ## ${{ env.PR_TITLE }}

            ${{ env.PR_BODY }}
          draft: false
          prerelease: false
          token: ${{ secrets.GH_TOKEN }}
